nav a {
    display: inline;
    padding: 5px;
    color: rgba(255, 145, 0, 0.866);
    text-decoration: none;
}
.index {
    background-color: rgb(128, 225, 128);
    background-size: 50%;
    border: 1px solid white;
    padding: 5px;
    background-repeat: ;
}
.edu {
    background-color: rgb(128, 225, 128);
    background-size: 50%;
    border: 1px solid white;
    padding: 5px;
}
.ex {
    background-color: rgb(128, 225, 128);
    background-size: 50%;
    border: 1px solid white;
    padding: 5px; 
}
.skill {
    background-color: rgb(128, 225, 128);
    background-size: 50%;
    border: 1px solid white;
    padding: 5px;
}
.award {
    background-image: url("./resources/eaglebackground.jpeg");
    border: 1px solid white;
    padding: 5px;
    width: auto;
    background-repeat: none; 
}
.award img {
    width: auto;
}
.container {
    position:relative;
}
.text-box {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
.text-box1 {
    position: absolute;
    top: 60px;
    left: 20px;
    background-color: black;
    opacity: 75%;
    
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
h1 {
    color:;
    background-color: forestgreen;
    text-align: center;
}

h2 {
    color:green;
    
}

.experience {
    background-color: rgb(212, 80, 102);
    border: 2px solid black;
    width: 100%;
    padding: 5px;
}
.index1 img {
    width: 50%;
}
img {
    width: 100%;
    border-radius: 5px;
}
.josh img {
    width: 50%;
    height: auto;
    display: inline-block;
    position: fixed;
    padding-left: 50%;
    padding-top: none;
    bottom: 20px;
   }
.skills {
    background-color: rgb(109, 84, 232);
    border: 2px solid black;
    width: 100%;
    padding: 5px;
}

.education {
    background-color: orange;
    border: 2px solid black;
    padding: 5px;
}


.awards {
    background-color: lightgreen;
    border: 2px solid black;
    padding: 5px;
}
.employers {
    background-color:blue;
    border: 2px solid black;
    padding: 5px;
}